#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 60px;
}

#header h1, p {
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

#footer {
    text-align: center;
}

a, a:visited {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.router-link-exact-active {
    color: white!important;
    background-color: black;
    border-radius: 5px;
}

#tool-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: stretch;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}